<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <%= link_to 'Product', products_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
             <%= link_to "Home", root_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Category", categories_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Cart", cart_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <% if admin_signed_in?%>
                    <%= link_to  "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700' %>
                <% else %>
                    <%= link_to  "Iniciar sesión", new_user_session_path, class:'whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900' %>
                    <%= link_to  "Registrarse", new_user_registration_path, class:'mx-5 btn-indigo' %>
                    
                <% end %> 
                <a class="nav-link" href="#">Link</a>       
            </li>  
            
          </ul>
        </div>
    </div>
</nav>